@charset "utf-8";

.lte-ie7 {
	display: inline;
}

.lte-ie8 h1 {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/macalha.png",sizingMethod="scale");
}

.lte-ie7 .at {
	font-size: 16px;
	color: #888;
}
