@charset "utf-8";

:root {
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

@media only screen and (max-width: 768px) {
	:root {
		font-size: 13px;
	}
}

@media only screen and (min-width: 1280px) {
	:root {
		font-size: 17px;
	}
}

@media only screen and (min-width: 1680px) {
	:root {
		font-size: 18px;
	}
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	font-size: 100%;
	color: #bbb;
	background-color: #222;
	background-image: url(/img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	overflow-y: scroll;
	height: 100%;
}

body {
	font-family: 'Segoe UI','Helvetica Neue','Lucida Sans Unicode',Helvetica,Arial,sans-serif;
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(34,34,34,0) 6rem);
	line-height: 1.6;
	min-height: 100%;
}

pre, code, kbd, samp, var, abbr, acronym {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre, code, kbd, samp, var {
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre code, kbd, samp, var {
	display: inline-block;
	font: .8125em/1.6 Monaco,Menlo,'Lucida Console',Consolas,'Courier New',monospace;
}

h1, h2, h3, h4, h5, h6, b, strong {
	color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: #000 1px 1px 0;
	text-rendering: optimizeLegibility;
	line-height: 1.333;
	margin: 0 0 0.33em 0;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
	margin-top: 0.66em;
}

h1 {
	display: inline-block;
	width: 20.69375rem;
	height: 4.59375rem;
	margin-bottom: .2em;
	text-indent: 99em;
	overflow: hidden;
	background-image: url(/img/macalha.svg);
}

.no-svg h1 {
	width: 331px;
	height: 73px;
	background-image: url(/img/macalha.png);
	background-size: 331px 73px;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}
 
h5 {
	font-size: 1.125em;
}
 
h6 {
	font-size: 1em;
}

code {
	color: #999;
}

pre code {
	color: #ccc;
	background-color: rgba(0,0,0,.45);
	width: 100%;
	padding: 0 .9em .9em;
	border: solid 1px #000;
}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[rel=noopener] {
	target-new: tab !important
}







.full-width {
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
}

@media only screen and (min-width: 800px) {
	.full-width {
		padding-left: calc(50% - 385px);
		padding-right: calc(50% - 385px);
	}
}

@media only screen and (min-width: 1024px) {
	.full-width {
		padding-left: calc(50% - 500px);
		padding-right: calc(50% - 500px);
	}
}

@media only screen and (min-width: 1280px) {
	.full-width {
		padding-left: calc(50% - 600px);
		padding-right: calc(50% - 600px);
	}
}

@media only screen and (min-width: 1680px) {
	.full-width {
		padding-left: calc(50% - 700px);
		padding-right: calc(50% - 700px);
	}
}





header, header p {
	text-align: center;
}

header p {
	font-weight:400;
	margin-top: -16px;
	margin-top: -1rem;
}

header p span {
	position: relative;
	top: .15em;
	color: #666;
	font-size: 1.4em;
}

main {
	padding-top: 32px;
	padding-top: 2rem;
}




.fa:before {
	color: #fff;
	padding-right: .5em;
}

.at {
	font-size: 0;
}

.at:before {
	font-size: 16px;
	font-size: 1rem;
	content: '\0040';
}

ul {
	list-style-type: none;
}

li {
	padding-left: 0;
	margin-left: 2.14285714em
}